body {
  font-family: 'Poppins';
}

.login {
  background-color: #FFBA33;
  box-shadow: 2px 2px 10px #FFBA33;
}

.eating {
  background-size: cover;
  background-position: center;
}


@media only screen and (max-width: 600px) {
  .mobile-form {
    width: 300px;
    display: flex;
  }
  .mobile-form-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mobile-bg {
    width: 0px;
  }
  .auth-header {
    display: flex;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer-flex1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-flex2 {
    margin-top: 100px;
    position: relative;
    display: flex;
    flex-direction: row;
  }
}