body {
  font-family: 'Poppins';
  background-color: #d6d6d6;
}

.primary-yellow {
  color: rgba(255, 203, 101, 1);
}

.primary-yellow-background {
  background-color: rgba(255, 203, 101, 1);
}

.primary-brown-background {
  background: rgba(106, 64, 41, 1);
}

.primary-brown {
  color: rgba(106, 64, 41, 1);
}

.nav-hover:hover {
    color: #6A4029;
    font-weight: bold;
}

.primary-brown-background {
  background: rgba(106, 64, 41, 1);
}

.delivery-padding {
  padding-left: 105px;
}

@media only screen and (max-width: 600px) {
  .mobile-detail-parent {
    display: flex;
    flex-direction: column;
  }
  .mobile-ask-staff-btn {
    width: 220px;
    height: 65px;
  }
  .mobile-checkout {
    width: 80%;
    height: 30%;
  }
  .mobile-checkout-btn {
    width: 80%;
  }
  .mobile-checkout-con {
    bottom: 700px;
    position: relative;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer-flex1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-flex2 {
    margin-top: 100px;
    position: relative;
    display: flex;
    flex-direction: row;
  }
  .mobile-navbar {
    display: none;
  }
}




