body {
  font-family: "Poppins";
}

.profile-banner {
  background-image: url('/assets/nathan-dumlao-XOhI_kW_TaM-unsplash\ 1.png');
  background-size: cover;
}

.text-one-bg {
  background-color: rgba(106, 64, 41, 1);
}

.save-changes-color {
  color: rgba(106, 64, 41, 1);
}

.text-two-bg { 
  background-color: #FFBA33;
}
.user-border {
  border: 3px solid rgba(106, 64, 41, 1);
}

.user-description {
  width: 310px;
  height: 500px;
}

.user-profile {
  border-bottom: 15px solid rgba(106, 64, 41, 1) ;
}

.bottom-border {
  border-bottom: 1px solid black;
  width: 300px;
}

.bottom-border-2nd {
  border-bottom: 1px solid black;
  width: 500;
}


.details-pen {
  padding-right: 80%;
}

.nav-hover:hover {
  color: #6A4029;
  font-weight: bold;
}


.product-and-engage {
  position: relative;
  left: 135%;
}

@media only screen and (max-width: 600px) {
  .mobile-profile-con {
    display: flex;
    background-color: transparent;
    justify-items: center;
    align-items: center;
    flex-direction: column;
  }
  .mobile-profile-text {
    display: flex;
    width: 100vw;
    font-size: 30px;
    margin-bottom: 20px;
    justify-content: center;
  }
  .mobile-choose-photo {
    width: 100%;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-items: left;
    align-items: flex-start;
  }
  .footer-flex1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .footer-flex2 {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }
  .mobile-navbar {
    display: none;
  }
}