body {
  font-family: Rubik;
}

.banner {
  background-image: url('/assets/nathan-dumlao-XOhI_kW_TaM-unsplash\ 1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 1430px;
}

.navbar {
  position: relative;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.text-one-bg {
  background-color: rgba(106, 64, 41, 1);
}

.save-changes-color {
  color: rgba(106, 64, 41, 1);
}

.text-two-bg { 
  background-color: #FFBA33;
}
.user-border {
  border: 3px solid rgba(106, 64, 41, 1);
}

.user-description {
  width: 310px;
  height: 500px;
}

.user-profile-box {
  font-family: 'Rubik';
  width: 310px;
  height: 200px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.user-profile {
  border-bottom: 15px solid rgba(106, 64, 41, 1) ;
}

#user-contacts {
  position: absolute;
  width: 800px;
  left: 480px;
  height: 500px;
}

.primary {
  font-family: 'Poppins', sans-serif;
}

.user-contact-modal {
  line-height: 50px;
}

.bottom-border {
  border-bottom: 1px solid black;
  width: 300px;
}

.bottom-border-2nd {
  border-bottom: 1px solid black;
  width: 500;
}

.primary-shadow {
  text-shadow: 0px 15px 20px rgba(255, 255, 255, 0.26);
}

.user-details {
  position: absolute;
  width: 800px;
  height: 500px;
  bottom: -350px;
  border-radius: 6px;
}

.details-pen {
  padding-right: 80%;
}

.radio-btn-label {
  position: relative;
  cursor: pointer;
}

.nav-hover:hover {
  color: #6A4029;
  font-weight: bold;
}

.radio-btn-input + label.radio-btn-label {
  border: 30px solid rgba(106, 64, 41, 1);
}



.radio-btn-label .checkmark:after {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.checkmark {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.product-and-engage {
  position: relative;
  left: 135%;
}
