
    body {
      font-family: 'Rubik', sans-serif;
    }

    .banner {
      background-image: url('/assets/nani-williams-6PpLqUlCA0s-unsplash\ 1.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 1112px;
      opacity: 0.9;
    }

    .send-btn {
      color: rgba(106, 64, 41, 1);
      background-color: rgba(255, 203, 101, 1);
      box-shadow: 0px 6px 20px rgba(255, 186, 51, 0.4);
    }

    .resend-btn {
      background-color: rgba(106, 64, 41, 1);
      color: white;
      width: 500px;
    }

    .input-email {
      width: 1000px;
    }

    .link-text {
      width: 550px;
    }

  .product-and-engage {
    position: relative;
    left: 135%;
  }