body {
  font-family: 'Rubik', sans-serif;
}

.modal {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0px;
  left: 0px;
}

.nav-hover:hover {
  color: #6A4029;
  font-weight: bold;
}

.banner {
  background-image: url('/assets/tyler-nix-jE-27l7V3NU-unsplash\ 2.png');
  left: 0px;
  top: 0px;
  height: 1697px;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.primary-brown-background {
  background-color: rgba(106, 64, 41, 1);
}

.checkout-text {
  text-shadow: 1px 2px black;
}

.primary-brown {
  color: rgba(106, 64, 41, 1);
}

input[type=checkbox] {
  cursor: pointer;
}

.product-and-engage {
  position: absolute;
  left: 62%;
}

.delete-btn {
  background-color: #6A4029;
  color: white;
  font-weight: bolder;
}

.cancel-btn {
  border: 2px solid #6A4029;
  color: #6A4029;
  font-weight: bolder;
}

.ensure-btn {
  width: 450px;
}


.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 15px;
  margin-bottom: 12px;
  cursor: pointer;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.item {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

.custom-checkbox input:checked ~ .item {
  background-color: #6A4029;
}

.item:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked ~ .item:after {
  display: block;
}

.custom-checkbox .item:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
