body {
  font-family: 'Poppins';
}

.banner {
  background-image: url('/assets/home\ background.png');
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.slogan {
  width: 100vw;
}

.navlist {
  width: 100vw;
}
 
.primary-btn {
  box-shadow: 2px 2px 15px #FFBA33;
  background-color: #FFBA33;
}

.primary-brown-bg {
  background-color: #6A4029;
}

.left-btn {
  color: #6A4029;
  border: 2px solid #6A4029;
}

.right-btn {
  color: white;
  background-color: #6A4029;
}

.right-btn:hover {
  background-color: #b66235;
  color: #6A4029;
  border: 2px solid #6A4029;
}

.left-btn:hover {
  color: white;
  background-color: #d1a187;
}

.first-content {
  width: 600px;
}

.stores-info {
  width: 1200px;
  height: 150px;
}

.order-btn {
  border: 2px solid #FFBA33;
  color: #6A4029;
  font-weight: bold;
  width: 200px;
}

.order-btn:hover {
  background: #FFBA33;
  text-transform: none;
}

.container-2nd {
  width: 100vw;
  background: #fffafa;
}

.stores-offer {
  width: auto;
  height: auto;
  background-color: '#fff';
  border-radius: 20px;
}

.bg-world-map {
  background-color: white;
}

.world-img {
  width: 1060px;
  height: 537.77px;
}

.customer-testi {
  width: 500px;
  height: 260px;
}

.product-and-engage {
  position: relative;
  left: 140%;
}

.footer {
  background-color: #fcfcfc;
}

@media only screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  .mobile-middle-con {
    display: none;
  }
  .mobile-slogan {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  .mobile-pic-slogan {
    display: flex;
    justify-items: center;
    width: 70%;
  }
  .mobile-promo-item {
    display: flex;
    flex-direction: column;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer-flex1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-flex2 {
    margin-top: 100px;
    position: relative;
    display: flex;
    flex-direction: row;
  }
  .mobile-navbar {
    display: none;
  }
}
