.banner {
  background-image: url('/assets/turkish-coffee.png');background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 1400px;
  opacity: 0.9;
}

.primary-brown-background {
  background: rgba(106, 64, 41, 1);
}

.primary-brown-text {
  color:rgba(54, 33, 21, 1);
}

.checkout-text {
  text-shadow: 1px 2px black;
}

.summ-img {
  width: 82px;
  height: 90px;
}

.oder-primary {
  width: 300px;
}

.summ-primary {
  margin: 50px;
  position: absolute;
  height: 1500px;
  width: 1550px;
  padding-top: 220px;
}

.product-and-engage {
position: relative;
left: 62%;
}

.nav-hover:hover {
  color: #6A4029;
  font-weight: bold;
}

.confirm-pay-btn {
  background: #6A4029;
  box-shadow: 0px 10px 20px rgba(137, 85, 55, 0.4);
  border-radius: 20px;
}

.confirm-pay-btn:hover {
  background-color: rgb(116, 80, 51);
}

.radio {
  display: block;
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  cursor: pointer;

}

.item::after {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.radio input {
  display: none;
}

.radio input:checked + .item {
  background-color: #6A4029;
}
