.navbar {
  position: relative;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.primary-brown {
  color: rgba(106, 64, 41, 1);
}

.primary-brown-background {
  background: rgba(106, 64, 41, 1);
}

.promo-box {
  width: 500px;
}

.box-1 {
  position: absolute;
  background: rgba(106, 64, 41, 1);
  width: 360px;
  height: 450px;
  border-radius: 15px;
}

.box-2 {
  position: absolute;
  background: black;
  width: 335px;
  height: 522px;
  border-radius: 15px;
}

.box-3 {
  position: absolute;
  background: rgba(255, 203, 101, 1);
  width: 305px;
  height: 592px;
  border-radius: 15px;
}

.product-and-engage {
  position: relative;
  left: 135%;
}

.footer-bg {
  background: #F8F8F8;
}

.text-one {
  bottom: 1px;
}


.dashed-border {
  width: 257px;
  border: black;
  border-top-style: dashed;
}

.grid-product {
  border-radius: 25px;
  width: 230px;
  height: 430px;
  padding: 60px;
}

.nav-product a {
  text-decoration: none;
}

.nav-product:hover {
  border-bottom: 3px rgba(106, 64, 41, 1);
}

.nav-product .active {
  border-bottom: 3px rgba(106, 64, 41, 1);
}

.nav-hover:hover {
    color: #6A4029;
    font-weight: bold;
}
